.countdown-display: {
	height: 100%;
}

.slot-name {
  font-size: 4rem;
  color: #5a8ab9;
}

.countdowns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 5rem;
}

.countdown-text {
	flex: 1;
}

.timer-minutes {
  font-size: 6rem;
  font-weight: 300;
}

.timer-seconds {
	font-size: 2rem;
	font-weight: 300;
}

.countdown-chart {
  flex: 1;
}